/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

/* Container principal para os conversores */
.converter-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
}


select, input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}


.result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
